<h1>Listing items</h1>

<!-- <table> -->
  <!-- <h3ead> -->
    <!-- <tr> -->
    <!-- </tr> -->
  <!-- </h3ead> -->

  <!-- <tbody> -->
    <% @items.each do |item| %>
      <!-- <tr> -->
      <h3>Title</h3>
        <p><%= item.title %></p>
      <h3>First image url</h3>
        <p><%= item.first_image_url %></p>
      <h3>User</h3>
        <p><%= item.user.last_name %></p>
      <h3>Name</h3>
        <p><%= item.name %></p>
      <h3>Content</h3>
        <p width='200'><%= item.content %></p>
      <h3>Deleted at</h3>
        <p><%= item.deleted_at %></p>
        <p><%= link_to 'Show', item %></p>
        <p><%= link_to 'Edit', edit_item_path(item) %></p>
        <p><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <!-- </tr> -->
      <hr>
    <% end %>
  <!-- </tbody> -->
<!-- </table> -->

<br>

<%= link_to 'New Item', new_item_path %>
