<nav class='top-bar' data-topbar>
  <h1>Quiche</h1>
</nav>
<div class='contents'>
  <% @items.each do |item| %>
    <div class='row'>
      <div class='columns column_left'>
        <p class='user_icon'><%= image_tag item.user.image_url, size: '30' %></p>
        <%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
      </div>
      <div class='columns column_right'>
        <h3><%= link_to item.title.truncate(40), (extract_url item.url) %></h3>
        <p class='thumbnail'><%= image_tag item.first_image_url, width: '200' %></p>
        <div class='content'>
          <p> <%= raw (item.content.gsub(/<div>/,'').gsub(/<\/div>/,'').gsub(/ ?/,'').gsub(/\n/,'').truncate(300)) %> </p>
        </div>
      </div>
    </div>
  <% end %></div>